.card {
  width: 350px;
  background-color: white;
  color: black;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.card:hover {
  transform: scale(1.01);
}
.backdrop {
  width: 350px;
  height: 180px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.desc {
  margin-bottom: 0;
  font-size: 12px;
  text-align: justify;
  margin: 0 5px;
  --lh: 1.4rem;
  line-height: var(--lh);
}
.truncate-overflow {
  --max-lines: 2;
  position: relative;
  max-height: calc(var(--lh) * var(--max-lines));
  overflow: hidden;
  padding-right: 1rem;
}
.truncate-overflow::before {
  position: absolute;
  content: "...";
  bottom: 0;
  right: 0;
}
.truncate-overflow::after {
  content: "";
  position: absolute;
  right: 0;
  width: 1rem;
  height: 1rem;
  background: white;
}
.title {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.rating {
  font-size: 12px;
}
