#root {
  max-width: 1280px;
  text-align: center;
}
.movies {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;
  justify-content: center;
}

.flex-hor {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
